<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>
      {% if lang == "ENG" %}
      Welcome to Taskello
      {% elif lang == "PL" %}
      Witaj w Taskello
      {% endif %}
    </title>
    {% endif %}
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('index') }}" class="active">
        <i class="fas fa-home"></i>
        {% if lang == "ENG" %}
          Home
        {% elif lang == "PL" %}
          Strona główna
        {% endif %}
      </a>
      {% if session.username %}
      <a href="{{ url_for('logout') }}">
        <i class="fas fa-sign-out-alt"></i>
        {% if lang == "ENG" %}
          Logout
        {% elif lang == "PL" %}
          Wyloguj
        {% endif %}
      </a>
      <div id="login_info">
        <a href="#">
          <i class="far fa-user-circle"></i>
          {% if lang == "ENG" %}
            Logged in as: <strong>{{session.username}}</strong>
          {% elif lang == "PL" %}
            Zalogowany jako: <strong>{{session.username}}</strong>
          {% endif %}
        </a>
        <a href="{{ url_for('show_login_profile')}}">
          <i class="fas fa-user-edit"></i>
          {% if lang == "ENG" %}
            Edit
          {% elif lang == "PL" %}
            Edycja
          {% endif %}
        </a>
        <a href="{{ url_for('show_profile_tasks') }}">
          <i class="fas fa-thumbtack"></i>
          {% if lang == "ENG" %}
            Pinned Tasks
          {% elif lang == "PL" %}
            Przypięte zadania
          {% endif %}
        </a>
      </div>
      <a href="{{ url_for('add_task') }}">
        <i class="fas fa-thumbtack"></i>
        {% if lang == "ENG" %}
          Add Task
        {% elif lang == "PL" %}
          Dodaj zadanie
        {% endif %}
        </a>
      <a href="{{ url_for('add_category') }}">
        <i class="fas fa-box"></i>
        {% if lang == "ENG" %}
          New Category
        {% elif lang == "PL" %}
          Nowa kategoria
        {% endif %}
      </a>
      <a href="{{ url_for('show_all_types') }}">
        <i class="fas fa-boxes"></i>
        {% if lang == "ENG" %}
          Categories
        {% elif lang == "PL" %}
          Lista kategorii
        {% endif %}
        </a>
      <a href="{{ url_for('index') }}" class="inactive">
        <i class="fab fa-flipboard"></i>
        {% if lang == "ENG" %}
          Projects
        {% elif lang == "PL" %}
          Projekty
        {% endif %}
        </a>
      {% else %}
      <a href="{{ url_for('login') }}">
        <i class="fas fa-user-circle"></i>
        {% if lang == "ENG" %}
          Login
        {% elif lang == "PL" %}
          Logowanie
        {% endif %}
        </a>
      <a href="{{ url_for('register') }}">
        <i class="fas fa-marker"></i>
        {% if lang == "ENG" %}
          Register
        {% elif lang == "PL" %}
          Rejestracja
        {% endif %}
      </a>
      {% endif %}
      <a href="{{ url_for('show_all_tasks_details') }}">
        <i class="fas fa-tasks"></i>
        {% if lang == "ENG" %}
          Task Table
        {% elif lang == "PL" %}
          Tablica zadań
        {% endif %}
        </a>
    </div>
    <div class="content">
      <div class="content-inside">{% block content %}{% endblock %}</div>
    </div>
    <footer class="footer">
      <p>
        <strong>Taskello v.1.2.1&nbsp;&nbsp;
          <i class="fas fa-ellipsis-h"></i>
        </strong>
        {% if lang == "ENG" %}
          Author:
        {% elif lang == "PL" %}
          Autor:
        {% endif %}
        <a href="http://cecherz.pl/">Kamil Cecherz</a> 2022
      </p>
    </footer>
  </body>
</html>
