<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Dianetello</title>
    {% endif %}
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/main.css') }}"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('index') }}" class="active">Home</a>
      {% if session.username %}
      <a href="{{ url_for('logout') }}">Logout</a>
      <div id="login_info">Logged in as: {{session.username}}</div>
      {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
    <!-- messages -->
    <!-- {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} -->
    <!-- messages -->
    {% block content %}{% endblock %}
  </body>
</html>
