{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Profile account ::</h1>
<table>
  <thead>
    <td>Id</td>
    <td>Name</td>
    <td>Surname</td>
    <td>Email</td>
    <td>Password</td>
    <td>Active</td>
    <td>Actions</td>
  </thead>
  <tr>
    <td>{{ profile[0] }}</td>
    <td>{{ profile[1] }}</td>
    <td>{{ profile[2] }}</td>
    <td>{{ profile[3] }}</td>
    <td>{{ profile[4] }}</td>
    <td>{{ profile[5] }}</td>
    <td>
      <button>Edit personality</button>
      <button>Change password</button>
    </td>
  </tr>
</table>
{% endblock %}
<!-- CONTENT -->
