{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Profile tasks list ::</h1>
<table>
  <thead>
    <td>Name</td>
    <td>Category</td>
    <td>Specification</td>
    <td>Attachment link</td>
    <td>Priority</td>
    <td>Progress</td>
    <td>Start</td>
    <td>End</td>
    <td>Actions</td>
  </thead>
  {% for task in tasks %}
  <tr>
    <td>{{ task[0] }}</td>
    <td>{{ task[1] }}</td>
    <td>{{ task[2] }}</td>
    <td>{{ task[3] }}</td>
    <td>{{ task[4] }}</td>
    <td>{{ task[5] }}</td>
    <td>{{ task[6] }}</td>
    <td>{{ task[7] }}</td>
    <td>
      <button>Edit name and description</button>
      <button>Edit attachment link</button>
      <button>Edit priority</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
