{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Tasks table ::</h1>
<table>
  <thead>
    <td>Task name</td>
    <td>Owner</td>
    <td>Category</td>
    <td>Specification</td>
    <td>Attachment link</td>
    <td>Priority</td>
    <td>Progress</td>
    <td>Start</td>
    <td>End</td>
    {% if session.username %}
    <td>Actions</td>
    {% endif %}
  </thead>
  {% for task in tasks_details %}
  <tr>
    <td>{{ task[0] }}</td>
    <td>{{ task[1] }}</td>
    <td>{{ task[2] }}</td>
    <td>{{ task[3] }}</td>
    <td>{{ task[4] }}</td>
    <td>{{ task[5] }}</td>
    <td>{{ task[6] }}</td>
    <td>{{ task[7] }}</td>
    <td>{{ task[8] }}</td>
    {% if session.username %}
    <!-- IF -->
    {% if session.username != task[1] %}
    <td class="center">
      <a href="#">
        <i class="fas fa-link"></i>
      </a>
    </td>
    {% else %}
    <td class="center">
      <a href="#">
        <i class="fas fa-unlink"></i>
      </a>
    </td>
    {% endif %}
    <!-- IF -->
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
<!-- CONTENT -->
