{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Types list ::</h1>
<table>
  <thead>
    <td>Id</td>
    <td>Specification</td>
    <td>Responsibilities</td>
    <td>Color</td>
    <td>Actions</td>
  </thead>
  {% for type in types %}
  <tr>
    <td>{{ type[0] }}</td>
    <td>{{ type[1] }}</td>
    <td>{{ type[2] }}</td>
    <td>{{ type[3] }}</td>
    <td>
      <button>Edit specification</button>
      <button>Edit responsibilities</button>
      <button>Edit color</button>
      <button>Remove</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
<!-- CONTENT -->
