html {
  background-color: beige;
}
th,
td {
  border: 1px solid black;
}
td {
  padding: 10px;
}
thead {
  font-weight: bold;
  background-color: coral;
}
.thead {
  font-weight: bold;
  background-color: coral;
}
span {
  color: red;
}
ul > li > a {
  font-size: 22px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
.button {
  background-color: coral; /* Green */
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid grey;
}
.button:hover {
  background-color: orangered;
  color: white;
}
.center {
  text-align: center;
}
input,
select {
  border: 2px solid #ccc;
  width: 100%;
  font-size: 20px;
  padding: 2% 0%;
}
form {
  width: 30%;
  margin: auto 35%;
}
label {
  font-size: 20px;
  text-align: center;
}
input#remember_me {
  width: 0;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: coral;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: orangered;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}
div#center-header {
  height: 100%;
  width: 100%;
  background: orangered;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
div#center-header > img {
  height: 20%;
  width: 20%;
  margin: auto;
}
div#login_info {
  float: right;
  background-color: orangered;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
div#login_info > a:hover {
  background-color: red;
}
i {
  padding-right: 10px;
}
.profile_table {
  float: left;
}
a.icon-task-edit {
  color: orangered;
  text-align: justify;
  font-size: 20px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
