{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1 class="center">
  {% if lang == "ENG" %}
    :: Edit profile data ::
  {% elif lang == "PL" %}
    :: Edycja danych profilowych ::
  {% endif %}
  </h1>
<form action="#" method="post">
  <label>{% if lang == "ENG" %} Name: {% elif lang == "PL" %} Imię: {% endif %}<span>*</span></label>
  <input type="text" name="profile_name" required />

  <label>{% if lang == "ENG" %} Surname: {% elif lang == "PL" %} Nazwisko: {% endif %}<span>*</span></label>
  <input type="text" name="profile_surname" required />
  <br /><br />
  {% if lang == "ENG" %} 
    <input type="submit" class="button" value="Send" />
  {% elif lang == "PL" %} 
    <input type="submit" class="button" value="Wyślij" />
  {% endif %}
</form>
{% endblock %}
<!-- CONTENT -->
