{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>
  {% if lang == "ENG" %}
    :: Profile account ::
  {% elif lang == "PL" %}
    :: Dane profilowe ::
  {% endif %}
</h1>
<table class="profile_table">
  <tr>
    <td class="thead">{% if lang == "ENG" %} Name {% elif lang == "PL" %} Imię {% endif %}</td>
    <td>{{ profile[1] }}</td>
  </tr>
  <tr>
    <td class="thead">{% if lang == "ENG" %} Surname {% elif lang == "PL" %} Nazwisko {% endif %}</td>
    <td>{{ profile[2] }}</td>
  </tr>
  <tr>
    <td class="thead">Email</td>
    <td>{{ profile[3] }}</td>
  </tr>
  <tr>
    <td class="thead">{% if lang == "ENG" %} Password {% elif lang == "PL" %} Hasło {% endif %}</td>
    <td>*******</td>
  </tr>
  <tr></tr>
</table>

<div>
  <table>
    <tr>
      <td class="thead">{% if lang == "ENG" %} Actions {% elif lang == "PL" %} Akcje {% endif %}</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url_for('edit_profile') }}">
          <button>{% if lang == "ENG" %} Edit personality {% elif lang == "PL" %} Edytuj dane osobowe {% endif %}</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ url_for('edit_profile_password') }}">
          <button>{% if lang == "ENG" %} Change password {% elif lang == "PL" %} Zmień hasło {% endif %}</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ url_for('remove_profile') }}">
          <button>{% if lang == "ENG" %} Remove account {% elif lang == "PL" %} Skasuj konto {% endif %}</button>
        </a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
<!-- CONTENT -->
