{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Types list ::</h1>
<table>
  <thead>
    <td>Id</td>
    <td>Specification</td>
    <td>Responsibilities</td>
    <td>Color</td>
    <td colspan="2">Actions</td>
  </thead>
  {% for type in types %}
  <tr>
    <td>{{ type[0] }}</td>
    <td>{{ type[1] }}</td>
    <td>{{ type[2] }}</td>
    <td>{{ type[3] }}</td>
    <td class="td-icon">
      <a href="#" class="icon-task-edit" alt="Edit data" title="Edit data"
        ><i class="fas fa-file-signature"></i>
      </a>
    </td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Remove category"
        title="Remove category"
        ><i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
<!-- CONTENT -->
