{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1 class="center">:: Add new task ::</h1>
<form action="#" method="post">
  <label>Type:</label>
  <select name="task_type_id">
    {% for task_type in task_type_list %}
    <option value="{{ task_type[0] }}">{{ task_type[1] }}</option>
    {% endfor %}
  </select>

  <label>Name <span>*</span></label>
  <input type="text" name="task_name" required />

  <label>Description</label>
  <input type="text" name="task_description" />

  <label>Link</label>
  <input type="text" name="task_attachment_link" />

  <label>Priority</label>
  <div class="priority-radio-choice">
    <label>1</label><input type="radio" name="task_priority" value="1" />
    <label>2</label><input type="radio" name="task_priority" value="2" />
    <label>3</label><input type="radio" name="task_priority" value="3" />
    <label>4</label><input type="radio" name="task_priority" value="4" />
    <label>5</label><input type="radio" name="task_priority" value="5" />
    <label>6</label><input type="radio" name="task_priority" value="6" />
  </div>

  <label>Progress status</label>
  <select name="task_progress_status">
    <option value="UPCOMING">UPCOMING</option>
    <option value="PENDING">PENDING</option>
    <option value="BLOCKED">BLOCKED</option>
    <option value="TO DO">TO DO</option>
    <option value="DOING">DOING</option>
    <option value="TO TEST">TO TEST</option>
    <option value="DONE">DONE</option>
  </select>

  <label>Expired date:</label>
  <input type="date" name="task_expired_date" />
  <br />
  <input type="time" name="task_expired_time" />
  <br /><br />
  <input type="submit" class="button" value="Send" />
</form>
{% endblock %}
<!-- CONTENT -->
