{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1 class="center">
  {% if lang == "ENG" %} 
    :: Edit task expired date ::
  {% elif lang == "PL" %} 
    :: Edytuj datę wygaśnięcia ::
  {% endif %}
</h1>
<form action="#" method="post">
  <label>{% if lang == "ENG" %} Expired date: {% elif lang == "PL" %} Data wygaśnięcia {% endif %}</label>
  <input type="date" name="task_expired_date" value="{{ task_expired_time }}" />
  <br />
  <input type="time" name="task_expired_time" value="{{ task_expired_time }}" />
  <br /><br />
  {% if lang == "ENG" %} 
    <input type="submit" class="button" value="Send" />
  {% elif lang == "PL" %} 
    <input type="submit" class="button" value="Wyślij" />
  {% endif %}
</form>
{% endblock %}
<!-- CONTENT -->
