{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1 class="center"> {% if lang == "ENG" %} :: Edit task attachment link :: {% elif lang == "PL" %} Edytuj link załącznika {% endif %}</h1>
<form action="#" method="post">
  <label>Link</label>
  <input
    type="text"
    name="task_attachment_link"
    value="{{ task_attachment_link }}"
  />
  <br /><br />
  {% if lang == "ENG" %}
    <input type="submit" class="button" value="Send" />  
  {% elif lang == "PL" %}
    <input type="submit" class="button" value="Wyślij" />   
  {% endif %}
</form>
{% endblock %}
<!-- CONTENT -->
