{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>:: Profile tasks list ::</h1>
<table>
  <thead>
    <td>Name</td>
    <td>Category</td>
    <td>Specification</td>
    <td>Attachment link</td>
    <td>Priority</td>
    <td>Progress status</td>
    <td>Start</td>
    <td>Expired time</td>
    <td colspan="6">Actions</td>
  </thead>
  {% for task in tasks %}
  <tr>
    <td>{{ task[1] }}</td>
    <td>{{ task[2] }}</td>
    <td>{{ task[3] }}</td>
    <td>{{ task[4] }}</td>
    <td>{{ task[5] }}</td>
    <td>{{ task[6] }}</td>
    <td>{{ task[7] }}</td>
    <td>{{ task[8] }}</td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Name and describtion"
        title="Name and describtion"
        ><i class="fas fa-file-signature"></i>
      </a>
    </td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Edit attachment link"
        title="Edit attachment link"
        ><i class="fas fa-paperclip"></i
      ></a>
    </td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Change priority"
        title="Change priority"
        ><i class="fas fa-sort-amount-up"></i
      ></a>
    </td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Change status of progress"
        title="Change status of progress"
        ><i class="fas fa-clipboard-check"></i
      ></a>
    </td>
    <td class="td-icon">
      <a
        href="#"
        class="icon-task-edit"
        alt="Edit expired time"
        title="Edit expired time"
        ><i class="fas fa-clock"></i
      ></a>
    </td>
    <td class="td-icon">
      <a
        href="{{ url_for('remove_task', task_id=task[0]) }}"
        class="icon-task-edit"
        alt="Remove"
        title="Remove"
      >
        <i class="fas fa-trash"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
