{% extends "base.html" %}
<!-- CONTENT -->
{% block content %}
<h1>
  {% if lang == "ENG" %} :: Tasks table :: {% elif lang == "PL" %} :: Tablica zadań :: {% endif %}
</h1>
<table>
  <thead>
    {% if lang == "ENG" %}
      <td>Task name</td>
      <td>Owner</td>
      <td>Category</td>
      <td>Specification</td>
      <td>Attachment link</td>
      <td>Priority</td>
      <td>Progress status</td>
      <td>Start</td>
      <td>Expired time</td>
      {% if session.username %}
        <td>Assignment</td>
      {% endif %}
    {% elif lang == "PL" %}
      <td>Nazwa zadania</td>
      <td>Wykonawca</td>
      <td>Kategoria</td>
      <td>Specyfikacja</td>
      <td>Załącznik</td>
      <td>Priorytet</td>
      <td>Status wykonania</td>
      <td>Start</td>
      <td>Czas zakończenia</td>
      {% if session.username %}
        <td>Przypisanie</td>
      {% endif %}
    {% endif %}
  </thead>
  {% for task in tasks_details %}
  <tr>
    <td>{{ task[0] }}</td>
    <td>{{ task[1] }}</td>
    <td>{{ task[2] }}</td>
    <td>{{ task[3] }}</td>
    <td>{{ task[4] }}</td>
    <td>{{ task[5] }}</td>
    <td>{{ task[6] }}</td>
    <td>{{ task[7] }}</td>
    <td>{{ task[8] }}</td>
    {% if session.username %}
    <!-- IF -->
    {% if session.username != task[1] %}
    <td class="td-icon-check-no" style="pointer-events: none">
      <a
        href="#"
        class="icon-task-edit"
        alt="Foreign task"
        title="Foreign task"
      >
        <i class="fas fa-dot-circle"></i>
      </a>
    </td>
    {% else %}
    <td class="td-icon-check-yes" style="pointer-events: none">
      <a href="#" class="icon-task-edit" alt="Your task" title="Your task">
        <i class="fas fa-user-check"></i>
      </a>
    </td>
    {% endif %}
    <!-- IF -->
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
<!-- CONTENT -->
